* {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

.highscoresHeading {
  text-align: center;
}

.highscoresContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#highscores {
  flex-direction: column;
}

h2 {
  padding: 25px;
}

#importedData {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.data {
  padding: 25px;
  padding-left: 70px;
}
